
.bg-overlay{
    background-image:  linear-gradient(transparent, rgba(0,0,0,0.3) 45%, rgba(0,0,0,1) 80%);
  width: 100%;
  height: 100%;
  }


  /*  */

  .my-image-card-size:after{
    background-image:  linear-gradient(transparent, rgba(0,0,0,0.3) 45%, rgba(0,0,0,1) 80%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20%;
    right: 20%;
    content: '';
    z-index: 1;
    opacity: 1;
  }

  .my-image-card-size{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}

.my-image-card-phone-size{
  max-height: 400px;
  width: 60%;

}

::ng-deep.carousel-caption {
  left: 20%;
  right: 20%;
}

  /*  */
/* 
  .my-img-class:hover{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.3) 45%, rgba(0,0,0,1) 80%);
    }  */

    /* .my-img-class{
        max-height: 260px;
        width:100% ;
        z-index: 1;
    } */

    /* .card-img-overlay{
    padding: 10%;
    padding-bottom: 5%;
    border-radius: 0;
    z-index: 10;
} */
