.my_text_center{
    text-align: center;
    margin-top:30px ;
}

.my_text_phone{
   padding-left: 20px;
}

.my-img-class{
    width: 100%;
}

.my-card{
    padding-top: 50px;
}

.my-mobile-padding{
    height: 400px;
    width: 70%;
}

.center-it{
    text-align: center;
}


body{
    height: 100%;
}

.card-my:hover {
    transform: translate3d(0,-1px,0) scale(1.1);
    transition: all .1s ease-in-out;

  }


.bg{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent, rgba(0,0,0,0.3) 45%, rgba(0,0,0,1) 80%);
    z-index: 1000;
    position: absolute;
    bottom: 0;
    left: 15%;
    right: 0;
    /* top: 0; */
    height: 400px;
    width: 70%;
}

  